<h1>Thank you</h1>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Thank you!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p>Got it, thanks!  Please add "mojo@mojobid.com" to your address book so you don't miss the activation email we'll send you when we launch MojoBid.com, a by-invitation-ONLY website where local restaurants bid against each other to better your offer. </p>
    
    
  </div>
</div>
