<p>Welcome <%= @resource.email %>!</p>

 

<p>Thanks for your interest in a sneak preview of <%= link_to ENV["DOMAIN"], root_url %>, a by-invitation-ONLY website where local restaurants bid against each other to better your offer. </p>

<p>Watch your email for your special "by-invitation-only" code to live, instantaneous, auctions where YOU choose the winner - after - local restaurants have bid against each other to better your offer!</p>


<p>- The team at MojoBid.com</p>




/*<p>Please click the link below to confirm your email address and set your password:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
*/